*{
    box-sizing: border-box;
}

.parent{
    width: 1000px;
    height: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: rotateY;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;


}
.front{
    background-color: blue;
    animation-name: rotateZ;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

.back{
    background-color: red;
    animation-name: rotateZ1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.square{
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translateX(20px);
    display: inline-block;
    text-align: center;
}
/*.square:first-child{*/
/*    transform: translateZ(20px);*/
/*}*/
/*.square:last-child{*/
/*    transform: translateZ(-20px);*/
/*}*/
.front::before{
    content: 'Front';
    font-size: 20px;
    color: snow;
}
.back::after{
    content: 'Back';
    font-size: 20px;
    color: snow;
}
@keyframes rotateY {
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(360deg);
    }
}

@keyframes rotateZ {
    from {
        transform: rotateZ(360deg) translateZ(40px);
    }
    to {
        transform:  rotateZ(0deg);
    }
}

@keyframes rotateZ1 {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

